* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    
    height: 100%;
    font-family: 'Poppins', sans-serif;

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        background-color: $btn-orange;
        border: 1px solid $btn-orange;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
    
        &:hover {
            color: $btn-orange;
            background-color: #fff;
        }
    }
}