.listing-wrapper {

    height: 100%;
    flex-wrap: wrap;
    width: 600px;
    margin:0 auto;
    align-content: center;

    .listings {
        
        border: 1px solid $gray-color;
        padding: 10px;
        flex-direction: column;
        min-width: 300px;

        &-image {
            width: 100px;
        }
        
        &-name {
            margin: 20px 0;
        }

        &-bottom {
            justify-content: space-between;
            
            button {
                margin-left: 30px;
            }
        }

    }
}

.loading {
    height: 100%;
}