.listing-wrapper {

    height: 100%;
    flex-wrap: wrap;
    max-width: 600px;
    margin:0 auto;
    align-content: center;
    padding: 20px;
    display: flex;


    .listings {
        
        border: 1px solid $gray-color;
        padding: 10px;
        flex-direction: column;
        flex: 0 50%;
        width: 100%;

        &-image {
            width: 100px;
        }
        
        &-name {
            margin: 20px 0;
        }

        &-bottom {
            justify-content: space-between;
            
            button {
                margin-left: 30px;
            }
        }

    }
}

.loading {
    height: 100%;
}

@media screen and (max-width: 745px) {
    .listing-wrapper {
        margin-top: 60px;
        align-content: unset;

        .listings {
            flex: 0 100%;
        }
    }
}